# When the application is loaded on a non-web3 browser this is the network that the browser will use.
# Note: this is passed directly to ethers.js so you'll want to make sure ethers understand the name.
export NEXT_JS_FORTMATIC_API_KEY=<YOUR_FORTMATIC_API_KEY>
export NEXT_JS_FORTMATIC_PRODUCTION_API_KEY=<YOUR_FORTMATIC_PRODUCTION_API_KEY>

export NEXT_JS_INFURA_ID=<YOUR_INFURA_KEY>

export NEXT_JS_PORTIS_API_KEY=<YOUR_PORTIS_API_KEY>

export NEXT_JS_DOMAIN_NAME=<USUALLY pooltogether.com WITHOUT THE SUBDOMAIN, LEAVE BLANK IF LOCALHOST!>

export NEXT_JS_DEFAULT_ETHEREUM_NETWORK_NAME='homestead'
