.animate-once {
  animation-fill-mode: forwards !important;
}

.spinning {
  animation: spinningAnim 2800ms infinite forwards cubic-bezier(0.5, 1.10, 0.36, 1.02);
}

@keyframes spinningAnim {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  20% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  30% {
    transform-origin: center;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  70% {
    transform-origin: center;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
}

@keyframes changeLetter {
  0% {
    content: attr(name);
  }
  50% {
    color: white;
  }
  100% {
    content: attr(title);
  }
}

.animate-content::after {
  content: attr(name);
}

.animate-content-enter::after {
  animation: changeLetter 1s normal forwards ease-in-out;
}



.animated-light {
  overflow: hidden;
  position: relative;
}

.animated-light::before {
  animation: animatedLight 2500ms infinite forwards cubic-bezier(0.5, 1.10, 0.36, 1.02);
}

.animated-light::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0%;
  right: 100%;
  margin: 0;
  width: 2500px;
  height: 100vh;
  background-image: linear-gradient(102deg,
    rgba(150, 100, 200, 0) 0%,
    rgba(150, 100, 200, 0) 36%,
    rgba(150, 100, 200, 0.02) 43%,
    rgba(150, 100, 200, 0.1) 47%,
    rgba(150, 100, 200, 0.15) 50%,
    rgba(150, 100, 200, 0.1) 53%,
    rgba(150, 100, 200, 0.02) 57%,
    rgba(150, 100, 200, 0) 65%,
    rgba(150, 100, 200, 0) 100%
  );
  transform-origin: 50% 100%;
}

@media screen and (min-width: 640px) {
  .animated-light::before {
    height: 550px;
  }
}

@keyframes animatedLight {
  0% {
    transform:  scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  100% {
    transform:  scale3d(1, 1, 1) translate3d(200%, 0, 0);
  }
}




.animated-pill {
  animation: pulseScale 5000ms infinite forwards cubic-bezier(0.5, 1.10, 0.36, 1.02);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.animated-pill::before {
  animation: animatedPill 3000ms infinite forwards cubic-bezier(0.5, 1.10, 0.36, 1.02);
}

.animated-pill::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0%;
  left: 100%;
  margin: 0;
  width: 2000px;
  height: 200px;
  background-image: linear-gradient(150deg,
    rgba(190, 100, 200, 0) 0%,
    rgba(190, 100, 200, 0.2) 40%,
    rgba(190, 100, 200, 0.6) 50%,
    rgba(190, 100, 200, 0.1) 64%,
    rgba(190, 100, 200, 0.0) 100%
  );
  transform-origin: 100% 50%;
}

@keyframes animatedPill {
  0% {
    transform:  scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  100% {
    transform:  scale3d(1, 1, 1) translate3d(-200%, 0, 0);
  }
}

@keyframes pulseScale {
  0% {
    transform:  scale3d(1, 1, 1);
  }
  40% {
    transform:  scale3d(1, 1, 1);
  }
  50% {
    transform:  scale3d(1.15, 1.15, 1);
  }
  60% {
    transform:  scale3d(1, 1, 1);
  }
  100% {
    transform:  scale3d(1, 1, 1);
  }
}



.fade-out-and-up--enter {
  animation-iteration-count: 1;
  animation: fadeOutAndUpAnim 1000ms forwards cubic-bezier(0.2, 0.8, 0.36, 1);
  pointer-events: none;
}

@keyframes fadeOutAndUpAnim {
  0% {
    opacity: 1;
    transform:  scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform:  scale3d(0.75, 0.75, 0.75) translate3d(0, -70px, 0);
  }
}

.fade-in-and-down {
  opacity: 0;
  pointer-events: none;
}

.fade-in-and-down--enter {
  animation-iteration-count: 1;
  animation: fadeInAndDown 600ms forwards cubic-bezier(0.2, 0.8, 0.36, 1);
  pointer-events: initial;
}

@keyframes fadeInAndDown {
  0% {
    opacity: 0;
    transform:  scale3d(0.75, 0.75, 0.75) translate3d(0, -70px, 0);
  }
  100% {
    opacity: 1;
    transform:  scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

.fade {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 15vh;
}

@keyframes gradientAnim { 
  0% {
    background-position: 0% 50%, -200px 0;
  }
  50% {
    background-position: 100% 50%, -200px 0;
  }
  100% {
    background-position: 0% 50%, -200px 0;
  }
}

@keyframes prePurchaseBtnAnim {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0.15;
  }
  100% {
    opacity: 0;
  }
}

.neuo-shine {
  overflow: hidden;
  position: relative;
}

.neuo-shine::before {
  animation: neuoShine 2000ms forwards cubic-bezier(0.5, 1.10, 0.36, 1.02);
  animation-delay: 4000ms;
}

.neuo-shine::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0%;
  right: 100%;
  margin: 0;
  width: 2500px;
  height: 30vh;
  background-image: linear-gradient(102deg,
    rgba(150, 100, 200, 0) 0%,
    rgba(150, 100, 200, 0) 36%,
    rgba(150, 100, 200, 0.02) 43%,
    rgba(150, 100, 200, 0.06) 47%,
    rgba(150, 100, 200, 0.1) 50%,
    rgba(150, 100, 200, 0.07) 53%,
    rgba(150, 100, 200, 0.01) 57%,
    rgba(150, 100, 200, 0) 65%,
    rgba(150, 100, 200, 0) 100%
  );
  transform-origin: 50% 100%;
}

@keyframes neuoShine {
  0% {
    transform:  scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  49% {
    transform:  scale3d(1, 1, 1) translate3d(200%, 0, 0);
  }
  50% {
    transform:  scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  100% {
    transform:  scale3d(1, 1, 1) translate3d(200%, 0, 0);
  }
}

