html, body, table {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 0;
}

::placeholder,
.input::placeholder,
.textarea::placeholder {
  color: rgb(235, 203, 253);
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: white !important;
}

::selection {
  background-color: rgb(76, 185, 249);
  color: white;
}

html {
  overflow-x: hidden;
}

body {
  @apply font-sans-regular;
  overflow-x: hidden;
}

hr {
  border: 0;
  height: 0;
  border-top: 3px solid rgba(60, 8, 165, 0.3);
  border-bottom: none;
  background: transparent;
  margin: 20px auto;
  width: 90%;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

a {
  @apply text-purple-500 no-underline border-b-2 border-purple-800;
}

a:hover {
  @apply text-cyan-400 border-purple-700;
}

a[disabled],
a[disabled]:hover {
  @apply text-blue-800;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0.5rem 0;
}

p {
  @apply tracking-wider;
}

label {
  @apply font-headline block cursor-pointer mt-6 mb-1;
}

form:after {
  content: "";
  display: table;
  clear: both;
}

.pt-button {
  min-width: 180px;
  max-width: 340px;
}

@media screen and (min-width: 640px) {
  .pt-button {
    min-width: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .pt-button {
    min-width: 220px;
  }
}

button[disabled] {
  @apply opacity-30 cursor-not-allowed !important;
}

input:not([type='submit'])[disabled],
textarea[disabled] {
  @apply border-transparent bg-purple-1100 text-purple-400 opacity-50 cursor-not-allowed !important;
} 

input[type='submit'][disabled] {
  @apply border-transparent bg-purple-200 text-white cursor-not-allowed;
}

input:not([type='submit'])[readOnly] {
  @apply text-lightPurple-600 cursor-not-allowed !important;
} 

input[type='submit'][disabled] {
  @apply border-transparent bg-purple-200 text-white cursor-not-allowed;
}

.is-etherscan-arrow {
  height: 1em;
  position: relative;
  top: -2px;
  width: 1em;
}

input[type="text"] {
  caret-color: white !important;
}

[anim="ripple"] {
  position: relative;
  overflow: hidden;
}

[anim="ripple"]:before {
  content: '';
  position:absolute;
  display: block;
  background: var(--ripple-background, white);      
  border-radius: 50%;
  pointer-events: none; 

  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width:  calc(var(--d) * 1px);
  height: calc(var(--d) * 1px);
  mix-blend-mode: screen;

  opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));                
  transition: calc(var(--t, 0) * var(--ripple-duration, 150ms)) var(--ripple-easing, ease-in);   
  transform: translate(-50%, -50%) scale(var(--s, 1));
  transform-origin: center;
}

.anim-done {
  background: linear-gradient(-45deg, #23a6d5, #06c296, #8de007 );
	background-size: 400% 400%;
  animation: gradientBG 4s ease infinite;
}

.anim-claiming {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, rgb(124, 41, 240) );
	background-size: 400% 400%;
  animation: gradientBG 2s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.new-prize-gradient {
  background: linear-gradient(155deg, #55A0FB, #6D50DF, #6A1BCF );
}

.new-prize-in-gradient {
  background: linear-gradient(155deg, #9C55F5, #6A1BCF );
}

.radio-input-group {
  background-color: #2C1259;
  border-radius: 30px;
  display: block;
  position: relative;
}

.radio-input-group label {
  width: 100%;
  display: block;
  margin: 16px 0 !important;
  text-align: left;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}

.radio-input-group label:before {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  content: "";
  background-color: #4096FB;
  position: absolute;
  left: 0;
  top: 0;
  /* transform: translate(-50%, -50%) scale3d(1, 1, 1); */
  transition: all 150ms ease-out;
  opacity: 0;
  z-index: -1;
}

.radio-input-group label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #27094C;
  background-color: #27094C;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%232c1259' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.radio-input-group input:checked ~ label {
  color: #fff;
}

.radio-input-group input:checked ~ label:before {
  transform: translate(0, 0) scale3d(1, 1, 1);
  opacity: 1;
}

.radio-input-group input:checked ~ label:after {
  background-color: #80FFF7;
  border-color: #80FFF7;
}

.radio-input-group input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}



.react-tooltip-lite {
  background: white;
  border-color: #333;
  border-width: 2px;
  border-radius: 10px;
  box-shadow: 1px 3px 2px rgba(60, 60, 60, 0.35);
  color: black;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px !important;
  min-height: 70px;
  text-align: center;
}

.react-tooltip-lite-arrow {
  border-color: white;
  margin-top: -3px;
}

.question-button {
  right: 50px;
  top: 11px;
}

@media screen and (min-width: 640px) {
  .question-button {
    right: 50px;
    top: 11px;
  }
}

@media screen and (min-width: 1280px) {
  .question-button {
    right: 70px;
    top: 17px;
  }
}

.question-button--container {
  top: -5px;
}

@media screen and (min-width: 640px) {
  .question-button--container {
    top: -3px;
  }
}

@media screen and (min-width: 1280px) {
  .question-button--container {
    top: -2px;
  }
}

.footer a {
  @apply text-purple-500 no-underline border-0;
}

.footer a:hover {
  @apply text-cyan-400 border-b-2 border-purple-700;
}

.footer .img-link:hover {
  @apply border-0 no-underline;
}

.glow {
  text-shadow: 0 0 2px rgba(6, 255, 150, 0.15), 0 0 4px rgba(14, 207, 216, 0.23)
}

.pt-panel {
  width: calc(100% + 64px);
}

@screen sm {
  .pt-panel {
    width: 100%;
  }
}

@screen lg {
  .pt-panel {
    width: 100%;
  }
}