/* TOOLTIPS / PTHINTS */
reach-portal {
  z-index: 3000;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down[data-reach-menu-list],
.slide-down[data-reach-menu-items] {
  @apply border;

  border-radius: 8px;
  border-color: var(--color-border-default);
  animation: slide-down 0.2s ease;
}

/* MENUS / DROPDOWNS */
[data-reach-popover] {
  margin-top: 10px;
  min-width: 200px;
  z-index: 5001;
}

@screen xs {
  [data-reach-popover] {
    min-width: 300px;
  }
}

@screen sm {
  [data-reach-popover] {
    min-width: 500px;
  }
}

@screen lg {
  [data-reach-popover] {
    min-width: 500px;
  }
}

[data-reach-menu-list],
[data-reach-menu-items] {
  @apply py-0 text-xxxs xs:text-sm sm:text-lg lg:text-xl rounded-lg shadow-lg;
}

.theme-dark [data-reach-menu-list],
.theme-dark [data-reach-menu-items] {
  @apply bg-card;
}

[data-reach-menu-item] {
  @apply px-3 py-2 font-bold text-primary rounded-lg my-0 sm:my-0;
}

[data-reach-menu-item]:first-child {
  @apply rounded-b-none;
}

[data-reach-menu-item]:last-child {
  @apply rounded-t-none;
}

.theme-dark [data-reach-menu-item] {
  @apply text-accent-1;
}

@screen sm {
  [data-reach-menu-item] {
    @apply px-5 py-3;
  }
}

.theme-dark [data-reach-menu-item].selected {
  @apply text-white bg-card-selected;
}

.theme-dark [data-reach-menu-item]:hover {
  @apply text-white bg-highlight-5;
}

.theme-light [data-reach-menu-item].selected {
  @apply text-default bg-accent-grey-1;
}

.theme-light [data-reach-menu-item]:hover {
  @apply bg-highlight-1 text-white;
}

/* DIALOG / MODALS */
.dialog-inner-content {
  flex: 1;
}

[data-reach-dialog-content] {
  max-width: initial;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.dialog-inner {
  border: 0;
  border-radius: 0;
  height: 100%;
  width: 100%;
}

.dialog-inner-content {
  height: 100%;
}

[data-reach-dialog-overlay] {
  background: var(--color-bg-overlay);
  backdrop-filter: blur(2px);
  border-radius: 0;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  z-index: 19000;
}

[data-reach-dialog-content] > div,
[data-reach-dialog-content] > button {
  pointer-events: initial;
}

@screen sm {
  [data-reach-dialog-content] {
    background: transparent;
    height: auto;
    margin: 10vh auto;
    padding: 0;
    max-width: 46rem;
    pointer-events: none;
    outline: none;
    width: 80vw;
  }

  .dialog-inner {
    border: 0;
    border-radius: 6px;
    height: auto;
    width: 100%;
  }

  .dialog-inner-content {
    height: auto;
  }
}

@screen lg {
  [data-reach-dialog-content] {
    max-width: 56rem;
  }
}
