.pool-toast.Toastify__toast-container {
  background: transparent;
  margin: 0 auto;
  max-width: 1228px;
  padding: 1rem;
  pointer-events: none;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 20000;

  height: 50px;
  width: 100%;
}

@screen sm {
  .pool-toast.Toastify__toast-container {
    margin: 0 auto;
    max-width: 420px;
  }
}

.pool-toast.Toastify__toast-container--top-center {
  top: 50px;
}

@screen sm {
  .pool-toast.Toastify__toast-container--top-center {
    left: initial;
    right: 80px;
    top: 150px;
    transform: initial;
  }
}

.pool-toast .Toastify__toast {
  @apply rounded-lg shadow-xl;
  background-color: black;
  border: 3px solid black;
  color: white;
  font-family: inherit;
  font-weight: 400;
  margin: 0 auto;
  min-height: 30px;
  min-width: 100%;
  overflow: visible;
  padding: 0;
  pointer-events: all;
}

@screen lg {
  .pool-toast .Toastify__toast {
    min-width: auto;
  }
}

.pool-toast .Toastify__progress-bar {
  @apply rounded-b-xl;
}

.pool-toast .Toastify__progress-bar--default {
  display: none;
}

.pool-toast .Toastify__toast--default:before {
  @apply shadow-3xl;

  animation: cycleBackgroundPos 5000ms infinite;
  background: var(--flashyGradient);
  background-size: 400% auto;
  border-radius: 10px;
  content: '';
  filter: blur(0px);
  height: 120%;
  position: absolute;
  left: -2%;
  top: -8px;
  width: 104%;
  z-index: -1;
}

@screen xs {
  .pool-toast .Toastify__toast--default:before {
    left: -1.5%;
    width: 103%;
  }
}

@screen sm {
  .pool-toast .Toastify__toast--default:before {
    left: -9px;
    width: 400px;
  }
}

.pool-toast .Toastify__toast--info {
  @apply text-white;
}

.pool-toast .Toastify__toast--success {
  @apply text-highlight-9;
}

.pool-toast .Toastify__toast--error {
  @apply text-red;
}

.pool-toast .Toastify__toast--warning {
  @apply text-orange;
}

.Toastify__progress-bar--info {
  @apply bg-white;
}

.Toastify__progress-bar--success {
  @apply bg-green;
}

.Toastify__progress-bar--warning {
  @apply bg-orange;
}

.Toastify__progress-bar--error {
  @apply bg-red;
}

.pool-toast .Toastify__toast-body {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem 0.25rem;
}

@screen sm {
  .pool-toast .Toastify__toast-body {
    padding: 0 2rem;
    margin: 1rem auto;
  }
}

.pool-toast .Toastify__close-button {
  color: white;
  font-size: 14px;
  right: 10px;
  top: 8px;
  position: absolute;
  opacity: 1;
}

@screen sm {
  .pool-toast .Toastify__close-button:after {
    font-size: 19px;
  }
}

.pool-toast .Toastify__close-button:after {
  background-color: black;
  content: '✕';
  color: white;
  font-size: 19px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.pool-toast .Toastify__toast--default .Toastify__close-button,
.pool-toast .Toastify__toast--info .Toastify__close-button {
  color: rgba(255, 255, 255, 0.8);
}
