.square-btn {
  @apply border-2 transition-all font-sans rounded-lg font-semibold text-center;
}

/* ------- Themes ------- */

/* Teal */
.square-btn--teal {
  @apply border-pt-teal-bright bg-pt-teal-DEFAULT text-purple;
}

.square-btn--teal:not([disabled]):hover,
.square-btn--teal:not([disabled]):focus {
  @apply text-purple bg-pt-teal-bright;

  box-shadow: 0 0 0 3px rgba(53, 240, 208, 0.5);
}

.square-btn--teal:not([disabled]):active {
  box-shadow: 0 0 0 2px rgba(53, 240, 208, 0.3);
}

.square-btn--teal:disabled {
  @apply border-transparent;
  background-color: #270255;
  color: #573095;
}

/* Teal Outline */
.square-btn--teal-outline {
  @apply border-pt-teal-bright text-pt-teal-bright;
  background-color: transparent;
}

.square-btn--teal-outline:not([disabled]):hover,
.square-btn--teal-outline:not([disabled]):focus {
  @apply text-pt-teal-bright;
  box-shadow: 0 0 0 3px rgba(53, 240, 208, 0.5);
}

.square-btn--teal:not([disabled]):active {
  box-shadow: 0 0 0 2px rgba(53, 240, 208, 0.3);
}

.square-btn--teal-outline:disabled {
  @apply border-transparent;
  background-color: #2b2d6c;
  border-color: #2b2d6c;
  color: #8679b8;
}

/* Purple */
.square-btn--purple {
  @apply border-pt-purple-bright bg-pt-purple-DEFAULT text-white;
}

.square-btn--purple:not([disabled]):hover,
.square-btn--purple:not([disabled]):focus {
  @apply text-white bg-pt-purple-bright;
  box-shadow: 0 0 0 3px rgba(112, 13, 242, 0.25);
}

.square-btn--purple:not([disabled]):active {
  box-shadow: 0 0 0 2px #4c249f4c;
}

.square-btn--purple:disabled {
  @apply border-transparent;
  background-color: #2b2d6c;
  border-color: #2b2d6c;
  color: #8679b8;
}

/* Purple Outline */
.square-btn--purple-outline {
  color: #8b5ef5;
  background-color: transparent;
  border-color: #5d34a2;
}

.square-btn--purple-outline:not([disabled]):hover,
.square-btn--purple-outline:not([disabled]):focus {
  @apply text-purple;
  box-shadow: 0 0 0 3px rgba(104, 9, 209, 0.563);
  color: #baa2f2;
}

.square-btn--purple-outline:not([disabled]):active {
  box-shadow: 0 0 0 2px rgba(60, 20, 184, 0.171);
}

.square-btn--purple-outline:disabled {
  opacity: 50%;
}

/* Orange */
.square-btn--orange {
  @apply border-orange text-white bg-orange;
}

.square-btn--orange:not([disabled]):hover,
.square-btn--orange:not([disabled]):focus {
  @apply text-white;
  box-shadow: 0 0 0 3px rgba(211, 120, 2, 0.363);
}

.square-btn--orange:not([disabled]):active {
  box-shadow: 0 0 0 2px rgba(211, 120, 2, 0.171);
}

.square-btn--orange:disabled {
  opacity: 50%;
}

/* Orange Outline */
.square-btn--orange-outline {
  @apply border-orange text-orange;
  background-color: transparent;
}

.square-btn--orange-outline:not([disabled]):hover,
.square-btn--orange-outline:not([disabled]):focus {
  @apply text-orange;
  box-shadow: 0 0 0 3px rgba(211, 120, 2, 0.363);
}

.square-btn--orange-outline:not([disabled]):active {
  box-shadow: 0 0 0 2px rgba(211, 120, 2, 0.171);
}

.square-btn--orange-outline:disabled {
  opacity: 50%;
}

/* Black */
.square-btn--black {
  @apply text-white;
  background-color: rgb(23, 2, 33);
  border-color: rgba(23, 2, 33, 0.7);
}

.square-btn--black:not([disabled]):hover,
.square-btn--black:not([disabled]):focus {
  @apply text-white;

  background-color: rgb(23, 2, 33);
  box-shadow: 0 0 0 3px rgba(23, 2, 33, 0.2);
}

.square-btn--black:not([disabled]):active {
  box-shadow: 0 0 0 2px rgba(23, 2, 33, 0.1);
}

.square-btn--black:disabled {
  @apply border-transparent;
  background-color: #1e012f;
  color: #7a6d82;
}

/* Rainbow */
.square-btn--rainbow {
  @apply text-white;

  background-image: linear-gradient(
    130deg,
    rgba(76, 36, 159, 1) -10%,
    rgb(13, 172, 245) 40%,
    rgb(249, 71, 210) 70%,
    rgb(254, 220, 111) 120%
  );
  background-size: 400% 400%;
  border: none;
  z-index: 1;
}

.square-btn--md.square-btn--rainbow {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.gradient-background-anim {
  background: #1d1f20;
  position: relative;
}

.gradient-background-anim:after {
  @apply rounded-lg;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(85deg, #f37055 -30%, #ef4e7b, #f947d2, #0dacf5, #f947d2, #fedc6f);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  animation-timing-function: steps(30);
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.square-btn--rainbow:not([disabled]):hover,
.square-btn--rainbow:not([disabled]):focus {
  @apply text-white;

  background-image: linear-gradient(
    130deg,
    rgba(76, 36, 159, 1) -10%,
    rgb(13, 172, 245) 40%,
    rgb(249, 71, 210) 70%,
    rgb(254, 220, 111) 120%
  );
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(195, 120, 245, 0.5);
}

.square-btn--rainbow:not([disabled]):active {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.square-btn--rainbow:disabled {
  @apply border-transparent;
  background-color: #1e012f;
  color: #000;
  opacity: 0.5;
}

/* ------- Sizes ------- */

.square-btn--sm {
  @apply py-1 px-2 text-xs;
}

.square-btn--md {
  @apply py-2 px-3 text-base;
}

.square-btn--lg {
  @apply py-2 px-4 text-xl;
}
