.th {
  text-align: left;
}

/* Player listing */
.td-address {
  width: 40% !important;
}

.td-balance {
  width: 40% !important;
}

.td-view {
  width: 20% !important;
}

/* Pool Prizes list */
.td-prizeNumber {
  width: 10% !important;
}

.td-prizeAmount {
  width: 20% !important;
}

.td-date {
  width: 50% !important;
}

.td-view {
  width: 20% !important;
}
