@keyframes blurInDown {
  0% {
    filter: blur(20px);
    transform: translate3d(0, -350px, 0);
    visibility: visible;
  }
  to {
    filter: blur(0);
    transform: translateZ(0);
  }
}

@keyframes blurOutUp {
  0% {
    filter: blur(0);
    transform: translateZ(0);
  }
  to {
    filter: blur(20px);
    visibility: hidden;
    transform: translate3d(0, -350px, 0);
  }
}

.blur-enter--top-center {
  animation-name: blurInDown;
}

.blur-exit--top-center {
  animation-name: blurOutUp;
}
