* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-Regular.woff2') format('woff2'),
    url('/fonts/TitilliumWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-Bold.woff2') format('woff2'),
    url('/fonts/TitilliumWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.font-headline {
  @apply tracking-wider;
  font-weight: 600 !important;
  font-family: 'Inter';
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter-Regular.woff2?v=3.15') format('woff2'),
    url('/fonts/Inter-Regular.woff?v=3.15') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Inter-Medium.woff2?v=3.15') format('woff2'),
    url('/fonts/Inter-Medium.woff?v=3.15') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Inter-SemiBold.woff2?v=3.15') format('woff2'),
    url('/fonts/Inter-SemiBold.woff?v=3.15') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Inter-ExtraBold.woff2?v=3.15') format('woff2'),
    url('/fonts/Inter-ExtraBold.woff?v=3.15') format('woff');
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2?v=3.15') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.15') format('woff2');
}

/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('/fonts/Inter.var.woff2?v=3.15') format('woff2');
}

html,
body,
table {
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'pnum' 1, 'tnum' 0, 'onum' 0, 'lnum' 0,
    'dlig' 0;
}

body {
  @apply font-sans tracking-wide;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold mt-0 mb-0;
}

a {
  transition: color 0.2s ease-out;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-xs;
}

@screen xs {
  h6 {
    @apply text-base;
  }
}

@screen sm {
  table,
  a,
  p {
    @apply text-sm;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
}

@screen lg {
  table,
  a,
  p {
    @apply text-lg;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-base;
  }
}

.text-caption {
  @apply text-accent-1 text-xxxs;
}

@screen sm {
  .text-caption {
    @apply text-sm;
  }
}

.text-caption-2 {
  @apply text-accent-2 text-xxxxs font-inter;
}

@screen sm {
  .text-caption-2 {
    @apply text-xxxs;
  }
}

@screen lg {
  .text-caption-2 {
    @apply text-xxs;
  }
}

.text-caption-2 a {
  @apply text-accent-2;
}
